@using BagBag.Models;
@{ 
    IQueryable<Contact> statusContacts = ViewBag.statusContacts as IQueryable<Contact>;
}

    <div class="info-box gray-bg">
        <i class="fa fa-comments-o"></i>
        <div class="count">@ViewBag.statusContacts</div>
        <div class="title"><a href="@Url.Action("Index","Contacts")">Liên Hệ</a></div>
    </div>
    <!--/.info-box-->
