@using BagBag.Models;
@{
    IEnumerable<Product> countProducts = ViewBag.countProducts as IEnumerable<Product>;
}
<div class="info-box red-bg">
    <i class="fa fa-book"></i>
    <div class="count">@ViewBag.countProducts</div>
    <div class="title"><a href="@Url.Action("Index","Products")">Sản Phẩm</a></div>
</div>