@using BagBag.Models;
@{
    IQueryable<Promotion> statusPromotion = ViewBag.statusPromotion as IQueryable<Promotion>;
}
<div class="info-box yellow-bg">
    <i class="fa fa-ravelry"></i>
    <div class="count">@ViewBag.statusPromotion</div>
    <div class="title"><a href="@Url.Action("Index","Promotions")">Promotion</a></div>
</div>