
@{
    ViewBag.Title = "UploadEmp";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Upload IMG</h2>
<div><a href="@Url.Action("Index","Employees")" class="btn btn-info">Manage</a></div>

@using (Html.BeginForm("UploadEmp", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline text-center">
        <!-- File Upload -->
        <div class="form-group">

            <input type="file" class="form-control" name="file" />
            <br />
            <br />
            <input type="submit" value="Upload" class="btn btn-primary" />

        </div>
    </div>

}

