@using BagBag.Models;
@model IQueryable<Product>
@foreach (var item in Model)
{
    <div class="col_1_of_3 span_1_of_3">
        <a href="#">
            <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="~/myImg/BagBag/@item.ImgProducts.FirstOrDefault().Img_Product" alt="" />
                </div>
                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title">@item.ProductName</p>
                        <div class="price1">
                            <span class="actual">@item.ProductSold</span>
                        </div>
                    </div>
                    <div class="cart-right"> </div>
                    <div class="clear"></div>
                </div>
            </div>
        </a>
    </div>
}