@using BagBag.Models;
@model IQueryable<Product>
@foreach (var item in Model.Take(3))
{<div class="col_1_of_3 span_1_of_3">
        <a href="@Url.Action("ProductDetails","Product", new { id = item.ProductId })">
            <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="~/myImg/BagBag/@item.ImgProducts.FirstOrDefault().Img_Product" alt="" width="279" height="279"/>
                </div>
               
                <div class="price">
                    <div class="cart-left">
                        <p class="title">@item.ProductName</p>
                        <div class="price1">
                            <span class="actual">@string.Format("{0:#,##0 }", item.ProductSold)</span>
                            @if (item.PromotionId == null)
                            {
                            }
                            else
                            {
                                var motion = item.Promotion.PromotionDiscount;
                                if (motion == 0 || motion == null)
                                {

                                }
                                else
                                {
                                    <div class="srch">
                                        <span>Discount: @item.Promotion.PromotionDiscount%</span>
                                    </div>
                                }
                            }
                            @if (item.PromotionId == null)
                            {

                            }
                            else
                            {
                                var motion = item.Promotion.PromotionDiscount;
                                if (motion == 0 || motion == null)
                                {

                                }
                                else
                                {
                                    var its = item.ProductSold - (item.ProductSold * item.Promotion.PromotionDiscount) / 100;
                                    <h4><a class="" href="#"><i></i></a> <span class="item_price">Still:@string.Format("{0:#,##0 }", its)</span></h4>
                                }
                            }
                        </div>
                        
                    </div>
                    <div class="cart-right"> </div>
                    <div class="clear"></div>
                </div>
            </div>
        </a>
    </div>
}
