
@{
    ViewBag.Title = "Succees";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<section class="section-paddings">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4 class="title text-center">Order success!</h4>
                <h8 class="title text-center"><a href="@Url.Action("Index","Home")">Home</a></h8>
            </div>
            </div>
        </div>
    </section>

